<% include ./partials/header %>
<div class="container mt3">
    <div class="row">
    <% blogs.forEach(function(blog){ %>
        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
                <img class="img-card-top thumbnail" src="<%= blog.image %>" />
                <div class="card-block">
                    <h2 class="card-title"><%= blog.title %></h2>
                    <%= blog.created_at.toDateString() %>
                    <p class="card-text"><%= blog.body.substring(0,50) %>...</p>
                    <a class="btn btn-primary" href="/blogs/<%- blog._id %>">Read More</a>
                </div>
            </div>
        </div>
    <% }); %>
</div>
</div>

<% include ./partials/footer %>
